p2pool-go-VTC
VerthashMiner
debugproxy/debugproxy
p2pool.log
debug.go
sharechain.dat
p2pool-go.log

# Ignore data files
verthash.dat
share.dat

# Ignore local configurations
config.yaml

# Ignore log files
*.log
*.save
